/dts-v1/;
/plugin/;

/ {
	compatible = "nextthing,chip", "allwinner,sun5i-r8";

	/* And enable the led-gpios driver on this pin */
	fragment@0 {
		target-path = "/";

		__overlay__ {
			gpio-keys {
				compatible = "gpio-keys-polled";
				poll-interval = <1>;
				autorepeat;

				left {
					label = "GPIO Key left";
					linux,code = <105>;
					gpios = <&xio 0 1>;
				};
				up {
					label = "GPIO Key up";
					linux,code = <103>;
					gpios = <&xio 1 1>;
				};
				down {
					label = "GPIO Key down";
					linux,code = <108>;
					gpios = <&xio 2 1>;
				};
				right {
					label = "GPIO Key right";
					linux,code = <106>;
					gpios = <&xio 3 1>;
				};
				space {
					label = "GPIO Key space";
					linux,code = <57>;
					gpios = <&xio 4 1>;
				};
				ent {
					label = "GPIO Key enter";
					linux,code = <28>;
					gpios = <&xio 5 1>;
				};
				b {
					label = "GPIO Key B";
					linux,code = <48>;
					gpios = <&xio 6 1>;
				};
				a {
					label = "GPIO Key A";
					linux,code = <30>;
					gpios = <&xio 7 1>;
				};
			};
		};
	};
};
